
  .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  padding: 10px 60px;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  color: #2563eb;
}

.login-btn {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
